{% extends 'Reserches/layout.html' %}

{% block title %}
В разработке
{% endblock title %}

{% block content %}
<div class="container pb-3 shadow rounded">
{% for p in posts %}
    <div class="card border-bottom mb-3">
        <div class="card-header d-flex align-items-center justify-content-md-between">
            <div class="container d-flex align-items-center ps-0">
                <h5 class="me-2">Исследование:</h5>
                <h4>{{ p.base_research.research_name }}</h4>
            </div>
            <a href="{{ p.get_edit_url }}" class="btn btn-primary d-flex">Редактировать<i class="bi bi-pencil-square ms-1"></i></a>
        </div>
        <div class="card-body ms-3">
            <h6 class="card-title">Заказчик: {{ p.base_research.research_customer }}</h6>
            <h6 class="card-text">Шаблон: {{ p.base_research.research_pattern }}</h6>
            <h6 class="card-text">Состояние: {{ p.base_research.research_state }}</h6>
        </div>
    </div>
        {% endfor %}
    <a href="{% url 'create_research' %}" class="btn btn-success">Создать исследование<i class="bi bi-plus-square ms-1"></i></a>
</div>
{% endblock content %}